---
title: 'About Primrose Weddings | Meet Your Dream Event Team'
description: 'Learn about Primrose Weddings & Events and how we turn your event dreams into stunning realities with a personal touch.'
preloadImg: '../../assets/images/about-landing-section-desktop.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="../../assets/images/about-landing-section-mobile.webp">
            <source media="(min-width: 601px)" srcset="../../assets/images/about-landing-section-desktop.webp">
            <img aria-hidden="true" decoding="async" src="../../assets/images/about-landing-section-desktop.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>
<!-- ============================================ -->
<!--                Side by Side                  -->
<!-- ============================================ -->

<section id="sbs-1883">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/about-section-headshot-mobile.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/about-section-headshot-desktop.webp">
                <img loading="lazy" decoding="async" src="../../assets/images/about-section-headshot-desktop.webp" alt="about us intro" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines-2.svg" alt="graphic" width="208" height="203" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/ball.svg" alt="graphic" width="56" height="42" aria-hidden="true">
            <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-blob.svg" alt="graphic" width="379" height="394" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/leaf2.svg" alt="graphic" width="179" height="225" aria-hidden="true">
            <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-lines.svg" alt="graphic" width="189" height="208" aria-hidden="true">
            {# <div class="cs-info">
                <p class="cs-info-text">
                    <span class="cs-bold">Elected Secretary</span>
                    of Orange County Dermatology Society 2022-2024
                </p>
            </div> #}
        </div>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About us</span>
                <h2 class="cs-title">Welcome to Primrose Weddings & Events</h2>
            </div>
            <p class="cs-text-large">
                Primrose Weddings & Events is not just a company; it’s a realization of a lifelong dream for founder Briana Lopez. Rooted in the heart of Southern California, our boutique wedding planning and event management agency specializes in turning love stories into stunning celebrations. 
            </p>
            <p class="cs-text">
                We're redefining event planning and design by infusing every occasion with elegance and unmatched creativity. Let’s build your next memorable event together!            </p>
            <p class="cs-text">
                Just as every couple is unique, so is our approach to designing your perfect day. Briana started Primrose with a vision to create more than just events; she aimed to craft unforgettable experiences. With a background in event design and execution – combined with her passion for design and attention to detail – Briana and her team ensure every event is personalized and true to the client’s vision.            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}