---
title: 'About Primrose Weddings | Meet Your Dream Event Team'
description: 'Learn about Primrose Weddings & Events and how we turn your event dreams into stunning realities with a personal touch.'
preloadImg: '../../assets/images/about-landing-section-desktop.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="../../assets/images/about-landing-section-mobile.webp">
            <source media="(min-width: 601px)" srcset="../../assets/images/about-landing-section-desktop.webp">
            <img aria-hidden="true" decoding="async" src="../../assets/images/about-landing-section-desktop.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>
<!-- ============================================ -->
<!--                Side by Side                  -->
<!-- ============================================ -->

<section id="sbs-1883">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/about-section-headshot-mobile-2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/about-section-headshot-desktop-2.webp">
                <img loading="eager" decoding="async" src="../../assets/images/about-section-headshot-desktop-2.webp" alt="about us intro" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines-2.svg" alt="graphic" width="208" height="203" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/ball.svg" alt="graphic" width="56" height="42" aria-hidden="true">
            <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-blob.svg" alt="graphic" width="379" height="394" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/leaf2.svg" alt="graphic" width="179" height="225" aria-hidden="true">
            <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-lines.svg" alt="graphic" width="189" height="208" aria-hidden="true">
            {# <div class="cs-info">
                <p class="cs-info-text">
                    <span class="cs-bold">Elected Secretary</span>
                    of Orange County Dermatology Society 2022-2024
                </p>
            </div> #}
        </div>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About us</span>
                <h2 class="cs-title">Welcome to Primrose Weddings & Events</h2>
            </div>
            <p class="cs-text-large">
                Primrose Weddings & Events is not just a company; it’s a realization of a lifelong dream for founder Briana Lopez. Rooted in the heart of Southern California, our boutique wedding planning and event management agency specializes in turning love stories into stunning celebrations. 
            </p>
            <p class="cs-text">
                I’m Briana, the heart and soul behind Primrose Weddings & Events. I’m thrilled you’re here—let’s dive in and get to know each other!
            </p>
            <p class="cs-text">
                Let's start with a fun fact: I wasn’t the little girl dreaming about her fairytale wedding. In fact, I had no clue what I wanted until it was my turn to walk down the aisle. Instead, I discovered my passion for making others' dreams come true and decided to turn that love into my profession. And yes, I absolutely adore the movie, The Wedding Planner!
            </p>
            <p class="cs-text"> 
                From the moment the lists start to pile up and the countdown begins, whether you’ve got everything meticulously planned or have no idea where to start, I’ll be right by your side. I’m here to turn your stress into smiles, transform your Pinterest boards into unforgettable moments, and ensure your big day is a true reflection of YOUR love story.

                We are based in sunny Southern California, but we love to travel (yes, take me with you!). At Primrose Weddings & Events, we specialize in turning your vision into reality, making sure every detail and moment is just as magical as you’ve dreamed.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<div id="reviews-1837">
    <div class="cs-container reviews-container">
        <div class="cs-office-hours">
            <span class="cs-hours">Love Notes</span>
            <span class="cs-days">Hear from our happy couples</span>
            <!-- <span class="cs-time">9am - 5pm</span> -->
            <img class="cs-leaf" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/derm-leaf.svg" alt="leaf graphic" loading="lazy" decoding="async" height="175" width="142">
        </div>
        <div class="cs-review">
            <p class="cs-review-text">
                I met Briana and instantly connected. Briana is so patient and kind. When I am ready to pull out my hair, she’s quick, ready to problem solve and get things done. I really appreciate her efforts to go above and beyond in preparation for the wedding. She is super knowledgeable in planning for an event and an especially a wedding…I’m so grateful to have her be our coordinator, I wouldn’t have survived without her help!            </p>
            <div class="cs-flex-group">
                <!-- <picture class="cs-picture">
                    <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatology-profile.jpeg" decoding="async" alt="profile" width="52" height="52" aria-hidden="true" loading="lazy">
                </picture> -->
                <span class="cs-name">
                    Amber Cotton
                    <!-- <span class="cs-job">Software Engineer at Google</span> -->
                </span>
            </div>
            <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/derm-beige-quote.svg" decoding="async" loading="lazy" alt="quote icon" width="88" height="73">
        </div>
    </div>
</div>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}