---
title: 'Custom Wedding & Event Services | Primrose Weddings & Events'
description: 'Explore top-tier wedding planning, event design, and coordination services at Primrose Weddings to craft your perfect day.'
preloadImg: '../../assets/images/landing-section-desktop.webp'
permalink: 'packages/'
eleventyNavigation:
    key: packages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

 <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Packages</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="../../assets/images/landing-section-mobile.webp">
            <source media="(min-width: 601px)" srcset="../../assets/images/landing-section-desktop.webp">
            <img aria-hidden="true" decoding="async" src="../../assets/images/landing-section-desktop.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>
    <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-851">
    <div class="cs-container"> 
        <div class="cs-content">
            <h1 class="cs-title">Just as every couple is <span class="cs-color"> unique</span>, so is our approach to designing your perfect day</h1>
            <h2>How We Help</h2>
            <p>Why did we start Primrose Weddings & Events? Because you deserve to enjoy life - not get lost in the details. Our personalized planning process helps you:</p>
            <ul>
                <li><strong>Reduce Stress:</strong>With our expert planning and coordination, you can enjoy the lead-up to your event stress-free.</li>
                <li><strong>Save Time:</strong>We handle all the details, from vendor coordination to day-of execution, giving you more time to enjoy with loved ones.</li>
                <li><strong>Create Unforgettable Memories:</strong>Our creative designs and meticulous attention ensure your event is not only successful but unforgettable.</li>
            </ul>
            <a href="/contact" class="cs-button-solid">Take The First Step</a>
            <h2>Learn About The Primrose Approach</h2>
            <h4>Wedding Planning Packages</h4>
            <p>
                At Primrose Weddings & Events, we offer a variety of wedding planning packages designed to meet your specific needs. Whether you need just a little help on the day or full-service planning from start to finish, we have a package that fits.
            </p>
            <h5>Month-of Coordination</h5>
            <p>For the bride that has got is covered! You’re in the home stretch but need someone you can
                trust to get you to the finish line so you can enjoy every minute for your big day. Our Month-of
                Coordination service is designed to take the stress out of the final preparation. Stepping in to
                manage every detail in the weeks leading up to your big day. From confirming vendor
                arrangements to orchestrating the timeline and handling any last-minute hiccups, we ensure
                that everything runs smoothly so you can enjoy the magical moments of your wedding day with
                
                peace of mind.
            </p>
            <ul>
                <li>Coordination beginning 12 weeks prior to event</li>
                <li>Unlimited phone and email communication from coordination timeframe</li>
                <li>3 planning meetings</li>
                <li>Venue site visit &amp; walk-through</li>
                <li>Timeline planning and management</li>
                <li>2 Week vendor contact handoff</li>
                <li>Décor Set-Up/Tear down</li>
                <li>Wedding Rehearsal, Ceremony and Reception execution</li>
                <li>Vendor Liaison</li>
                <li>1 hour rehearsal</li>
                <li>Up to 8 hours on day of (Additional hours $75/hour)</li>
                <li>1 assistant coordinator for up to 150 guests (Guest count over 150 will require an additional assistant for and extra fee)</li>
            </ul>
            <h4>Partial Planning</h4>
            <p>For the bride that loves the idea of planning, knows what they want, but needs assistance in
                tying it all together. We’ll guide you with personalized recommendations and take care of all the
                nitty-gritty details, ensuring everything runs smoothly on the big day. Think of us as your
                planning partner, dedicated to making your wedding vision come to life while you enjoy every
                
                magical moment!
            </p>
            <ul>
                <li>Venue Walk through</li>
                <li>Floor plan Assistance</li>
                <li>Vendor Recommendation</li>
                <li>Timeline planning and management</li>
                <li>Up to 4 planning meetings</li>
                <li>Unlimited phone and email communication</li>
                <li>Décor set up</li>
                <li>Wedding Rehearsal, Ceremony and Reception execution</li>
                <li>Vendor Liaison</li>
                <li>1 hour rehearsal</li>
                <li>Up to 9 hours on day of (Additional hours $75/hour)</li>
                <li>1 assistant coordinator for up to 150 guests (Guest count over 150 will require an additional assistant for and extra fee)</li>
            </ul>
            <h4>Full Planner Package</h4>
            <p>For the bride that wants to keep it stress free. We’ll handle every detail with care and creativity.
                From crafting your vision and managing every vendor to coordinating the big day, we’re here to
                
                ensure your wedding is nothing short of perfection—so you can relax and savor every magical
                
                moment!
            </p>
            <ul>
                <li>Venue and Vendor Selection</li>
                <li>Contract Review</li>
                <li>Budget Prep/Management</li>
                <li>Venue Walk through</li>
                <li>Floor plan Assistance</li>
                <li>Vendor Recommendation</li>
                <li>Timeline planning and management</li>
                <li>Hotel Blocks/Booking</li>
                <li>RSVP Assistance</li>
                <li>Website Management</li>
                <li>Organization of rehearsal dinner/reservations</li>
                <li>Unlimited planning meetings</li>
                <li>Unlimited phone and email communication</li>
                <li>Décor set up</li>
                <li>Wedding Rehearsal, Ceremony and Reception execution</li>
                <li>Vendor Liaison</li>
                <li>1 Hour rehearsal</li>
                <li>Up to 10 hours on day of (Additional hours $75/hour)</li>
                <li>2 Assistant coordinators</li>
            </ul>
            <p>Contact us to discuss your needs and choose the right package for your celebration. We tailor each package to your specific requirements, ensuring a perfectly planned and stress-free wedding day.</p>
            <a href="/contact" class="cs-button-solid">Get Started</a>
        </div>
        {# <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/services-mobile.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/services-desktop.webp">
                <img decoding="async" src="../../assets/images/services-desktop.webp" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div> #}
    </div>
</section>
{% include 'components/cta.html' %}
{% endblock %}