---
title: 'Custom Wedding & Event Services | Primrose Weddings & Events'
description: 'Explore top-tier wedding planning, event design, and coordination services at Primrose Weddings to craft your perfect day.'
preloadImg: '../../assets/images/landing-section-desktop.webp'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

 <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="../../assets/images/landing-section-mobile.webp">
            <source media="(min-width: 601px)" srcset="../../assets/images/landing-section-desktop.webp">
            <img aria-hidden="true" decoding="async" src="../../assets/images/landing-section-desktop.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>
    <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-851">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">A Personalized Approach to Making Your<span class="cs-color"> Dream Day </span>Come True</h1>
            <h2>Learn About The Primrose Approach</h2>
            <p>
                At Primrose Weddings & Events, we understand that your big day is more than just a celebration; it’s a personal expression of your love story. That’s why we offer a comprehensive range of services designed to make your wedding or event not just memorable – but uniquely yours.
            </p>
            <a href="/contact" class="cs-button-solid">SCHEDULE A CONSULTATION</a>
            <h3>Our Wedding Planning & Event Services</h3>
            <h4>Wedding Planning</h4>
            <p>From the perfect venue to the finest details, our full-service wedding planning ensures every element is in place. We take the stress out of planning, allowing you to focus on what truly matters—celebrating your love.</p>
            <ul>
                <li><strong>Venue Selection:</strong>We expertly select and secure the perfect venue that suits both your style and budget.</li>
                <li><strong>Vendor Coordination:</strong>From caterers to photographers, we manage all vendor relations to ensure quality and coherence.</li>
                <li><strong>Detailed Itinerary:</strong>We provide detailed timelines and schedules, ensuring everything from the rehearsal dinner to the reception is perfectly timed.</li>
            </ul>
            <h4>Event Design</h4>
            <p>
                Transform your vision into reality with our bespoke event design. Our creative team works with you to create a cohesive aesthetic that reflects your personal style and wows your guests.
            </p>
            <ul>
                <li><strong>Theme Development:</strong>Collaborate with us to develop a unique theme that tells your story through design.</li>
                <li><strong>Custom Decorations:</strong>We craft and source decorations that enhance the venue and resonate with your thematic choices.</li>
                <li><strong>Lighting and Ambiance:</strong>Set the perfect mood with our expert lighting setups and ambiance creation tailored to your event.</li>
            </ul>
            <h4>Event Coordination</h4>
            <p>
                Enjoy every moment of your event without any of the stress. Our day-of coordination services manage all event logistics, ensuring everything runs smoothly and on schedule.
            </p>
            <ul>
                <li><strong>Day-of Management:</strong>Our team is on-site to oversee all aspects of the event day, from start to finish.</li>
                <li><strong>Troubleshooting Expertise:</strong>We handle any unforeseen issues fast, without disrupting the flow of your event.</li>
                <li><strong>Guest Coordination:</strong>We ensure all guests are accounted for, managed, and happy throughout the event.</li>
            </ul>
            <a href="/contact" class="cs-button-solid">Schedule Your Consultation</a>
            <h4>Wedding Planning Packages</h4>
            <p>
                At Primrose Weddings & Events, we offer a variety of wedding planning packages designed to meet your specific needs. Whether you need just a little help on the day or full-service planning from start to finish, we have a package that fits.
            </p>
            <h5>Month-of Coordination</h5>
            <p>Ideal for those who have their plans set but need a professional to manage the day-of details.</p>
            <ul>
                <li>In-person meeting with client 30 days prior to the event</li>
                <li>Virtual meeting 7 days prior to the event to finalize details</li>
                <li>Full day-of event coordination</li>
            </ul>
            <p><strong>Starting Price:</strong> Packages start at $1,500 for events with 125 guests or fewer.</p>
            <h4>Partial Planning</h4>
            <p>Perfect for couples who need assistance during the final stages of their wedding planning.</p>
            <ul>
                <li>Three in-person meetings (30, 60, and 90 days prior to the event)</li>
                <li>Day of Coordination</li>
                <li>Access to our list of preferred vendors</li>
            </ul>
            <p><strong>Starting Price:</strong> 8% of the final event budget.</p>
            <h4>Full Planner Package</h4>
            <p>Best suited for couples who want comprehensive help from the very beginning of their planning process.</p>
            <ul>
                <li>Includes everything in the Partial Planning package</li>
                <li>Additional attending and coordinating vendor meetings</li>
                <li>Full planning of the wedding from inception to execution</li>
                <li>Assistance with booking vendors and ongoing vendor coordination</li>
            </ul>
            <p><strong>Starting Price:</strong> 14% of the final event budget.</p>
            <p>Contact us to discuss your needs and choose the right package for your celebration. We tailor each package to your specific requirements, ensuring a perfectly planned and stress-free wedding day.</p>
            <a href="/contact" class="cs-button-solid">Get Started</a>
            <h4>How We Help</h4>
            <p>Why did we start Primrose Weddings & Events? Because you deserve to enjoy life - not get lost in the details. Our personalized planning process helps you:</p>
            <ul>
                <li><strong>Reduce Stress:</strong>With our expert planning and coordination, you can enjoy the lead-up to your event stress-free.</li>
                <li><strong>Save Time:</strong>We handle all the details, from vendor coordination to day-of execution, giving you more time to enjoy with loved ones.</li>
                <li><strong>Create Unforgettable Memories:</strong>Our creative designs and meticulous attention ensure your event is not only successful but unforgettable.</li>
            </ul>
            <h4>The Primrose Process</h4>
            <ol>
                <li><strong>Initial Consultation & Design:</strong>Discuss your vision and requirements with Briana, and explore how we can best serve your needs.</li>
                <li><strong>Event Planning and Design:</strong>Receive a customized plan and design proposal tailored to bring your dream event to life.</li>
                <li><strong>Event Execution:</strong>Relax and enjoy as we manage the logistics and ensure your event unfolds flawlessly.</li>
            </ol>
            <a href="/contact" class="cs-button-solid">Take The First Step</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/services-mobile.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/services-desktop.webp">
                <img decoding="async" src="../../assets/images/services-desktop.webp" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
{% include 'components/cta.html' %}
{% endblock %}